// color variables
$gs3-primary: #D22833;
$gs3-secondary: #29033E;
$gs3-bg: #FCF7F8;
$gs3-border: #E8E4EB;
$gs3-body-text: #543565;
$gs3-labels: #7A8088;
$gs3-orange: #FF9917;
$gs3-green: #00C786;
$gs3-purple: #2F26D9;
$gs3-white: #fff;
$gs3-logout-btn-bg: #FFEBF4;
$gs3-place-holder: rgba(128, 128, 128, 0.5);
$gs3-pending: $gs3-purple;
$gs3-scheduled: #FA05E1;
$gs3-verified: $gs3-green;
$gs3-approved: $gs3-orange;
$gs3-declined: $gs3-primary;
$gs3-rejected: #031E3E;

// minimum width
$min-view-width: 320px;
